.container {
    display: grid;
    grid-template-columns: 100px auto 50px 50px 50px 50px;
    grid-template-rows: 40px;
    grid-column-gap: 10px;
    align-items: center;
}
a{
    color: rgb(70, 70, 70);
    font-size: small;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.google {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 100px 100px 306px;
    
}
.googlepic {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: center;
}
.searchbar {
    align-self: center;
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: hidden;
    background-color: white;
    float: right;
    padding: 6px;
    border: 2px solid #ccc;
    margin-top: 8px;
    margin-left: 5px;
    font-size: 17px;
    border-radius: 25px;
    width: 400px;
}
.button1{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #cfcfcf;
    align-self: center;
    justify-self: center;
    margin-bottom: 80px;
    margin-right: 120px;
    padding: 8px;
    border: none;
    width: 100px;
    text-align: center;
}
.button2{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #cfcfcf;
    align-self: center;
    justify-self: center;
    margin-bottom: 80px;
    margin-left: 140px;
    padding: 8px;
    border: none;
    width: 100px;
    text-align: center;
}
.footer {
    display: grid;
    background-color: #ccc;;
    grid-template-columns: 0.8fr 0.6fr 7fr 1fr 1fr 0.6fr;
    grid-template-rows: 45px ;
    align-items: center;
}
